body{
    background-color: rgb(27, 226, 160);
}

table, th, td{
    border: 2px solid blue;
    border-collapse: collapse;
    padding: 5px;
}
th{
    background-color: brown;

}

.first{
    background-color: white;
}

.last{
    background-color:  white;
}

tr{
    text-align: center;
    background-color: blueviolet;
}

#ipl{
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
}